body {
	font-family: 'Ubuntu', sans-serif;
}
canvas {
	z-index: -1;
}
#sketch {
	position: relative;
}
#title {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
#headline {
	margin-bottom: 0px;
}
#dark {
	position: absolute;
	right: 10px;
	top: 20px;
}
.lbltext {
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 945px) {
	#title {
		position: relative;
		left: 0;
		transform: none;
	}
}
